
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditar>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="f.reset(); cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <label for="cheque-cliente" class="col-sm-1 control-label">Cliente</label>
            <div class="col-sm-5 has-feedback">
              <div class="select-style">
                <select class="form-control" id="cheque-cliente" [(ngModel)]="cheque.cliente_id" name="cliente" #cliente="ngModel" >
                  <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{cliente.nombre}}</option>
                </select>
              </div>
            </div>

            <label for="cheque-banco" class="col-sm-1 required control-label">Banco</label>
            <div class="col-sm-5 has-feedback"
                 [ngClass]="{'has-error': !banco.valid && (!banco.pristine || banco.touched || submitted),
            'has-success': banco.valid}">
              <div class="select-style">
                <select class="form-control" id="cheque-banco" [(ngModel)]="cheque.banco_id" name="banco" #banco="ngModel" required >
                  <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{banco.nombre}}</option>
                </select>
              </div>
              <span *ngIf="banco.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="banco.errors !== null && (!banco.pristine || banco.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!banco.valid && (!banco.pristine || banco.touched || submitted)" class="help-block">Seleccione un banco</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="cheque-sucursal" class="col-sm-1 control-label">Sucursal</label>
            <div class="col-sm-4 has-feedback">
              <input class="form-control" id="cheque-sucursal" [(ngModel)]="cheque.sucursal" name="sucursal" #sucursal="ngModel" [maxLength]="50" placeholder="Sucursal">
            </div>
          </div>

          <div class="form-group row">
            <label for="cheque-numero" class="col-sm-1 control-label">Número</label>
            <div class="col-sm-3 has-feedback">
              <input class="form-control" id="cheque-numero" [(ngModel)]="cheque.numero" name="numero" #numero="ngModel" [maxLength]="20" placeholder="Número">
            </div>

            <label for="cheque-nro_interno" class="col-sm-1 control-label">Nro. Interno</label>
            <div class="col-sm-3 has-feedback">
              <input class="form-control" id="cheque-nro_interno" [(ngModel)]="cheque.nro_interno" name="nro_interno" #nro_interno="ngModel" [maxLength]="10" placeholder="Nro. interno">
            </div>

            <label for="cheque-importe" class="col-sm-1 required control-label">Importe</label>
            <div class="col-sm-3 has-feedback"
                 [ngClass]="{'has-error': !importe.valid && (!importe.pristine || importe.touched || submitted),
            'has-success': importe.valid}">
              <input type="number" class="form-control text-right" id="cheque-importe" [(ngModel)]="cheque.importe" name="importe" #importe="ngModel" required min="0" step="0.01" pattern="^\d{1,14}([\.\,]\d{1,2})?$" placeholder="0.00">
              <span *ngIf="importe.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="importe.errors !== null && (!importe.pristine || importe.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="importe.errors !== null && importe.errors.required != null && (!importe.pristine || importe.touched || submitted)" class="help-block">Ingrese un importe</div>
              <div *ngIf="importe.errors !== null && importe.errors.required == null && (!importe.pristine || submitted)" class="help-block">Ingrese un número con dos decimales</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="cheque-fechaemision" class="col-sm-1 control-label">Fecha Emisión</label>
            <div class="col-sm-2">
              <my-date-picker id="cheque-fechaemision" [(ngModel)]="cheque.fecha_emision" [options]="myDatePickerOptions" [name]="'fechaemision'"></my-date-picker>
            </div>

            <label for="cheque-fechaingreso" class="col-sm-1 required control-label">Fecha Ingreso</label>
            <div class="col-sm-2">
              <my-date-picker id="cheque-fechaingreso" [(ngModel)]="cheque.fecha_ingreso" [options]="myDatePickerOptions" [name]="'fechaingreso'"></my-date-picker>
            </div>

            <label for="cheque-fechavencimiento" class="col-sm-1 control-label">Fecha Venc.</label>
            <div class="col-sm-2">
              <my-date-picker id="cheque-fechavencimiento" [(ngModel)]="cheque.fecha_vencimiento" [options]="myDatePickerOptions" [name]="'fechavencimiento'"></my-date-picker>
            </div>

            <label for="cheque-fechacobro" class="col-sm-1 control-label">Fecha Cobro</label>
            <div class="col-sm-2">
              <my-date-picker id="cheque-fechacobro" [(ngModel)]="cheque.fecha_cobro" [options]="myDatePickerOptions" [name]="'fechacobro'"></my-date-picker>
            </div>
          </div>

          <div class="form-group row">
            <label for="cheque-origen" class="col-sm-1 control-label">Origen</label>
            <div class="col-sm-3 has-feedback">
              <input class="form-control" id="cheque-origen" [(ngModel)]="cheque.origen" name="origen" #origen="ngModel" [maxLength]="100" placeholder="Origen">
            </div>

            <label for="cheque-destinatario" class="col-sm-1  control-label">Dest.</label>
            <div class="col-sm-3 has-feedback">
              <input class="form-control" id="cheque-destinatario" [(ngModel)]="cheque.destinatario" name="destinatario" #destinatario="ngModel" [maxLength]="100" placeholder="Destinatario">
            </div>

            <label for="cheque-estado" class="col-sm-1 required control-label">Estado</label>
            <div class="col-sm-3 has-feedback"
                 [ngClass]="{'has-error': !estado.valid && (!estado.pristine || estado.touched || submitted),
            'has-success': estado.valid}">
              <div class="select-style">
                <select class="form-control" id="cheque-estado" [(ngModel)]="cheque.estado" name="estado" #estado="ngModel" required >
                  <option [ngValue]="'I'">Ingresado</option>
                  <option [ngValue]="'D'">Depositado</option>
                  <option [ngValue]="'T'">Transferido</option>
                  <option [ngValue]="'R'">Rechazado</option>
                  <option [ngValue]="'V'">Vencido</option>
                </select>
              </div>
              <span *ngIf="estado.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="estado.errors !== null && (!estado.pristine || estado.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!estado.valid && (!estado.pristine || estado.touched || submitted)" class="help-block">Seleccione un estado</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="cheque-descripcion" class="col-sm-1 control-label">Descr.</label>
            <div class="col-sm-11 has-feedback">
              <input class="form-control" id="cheque-descripcion" [(ngModel)]="cheque.descripcion" name="descripcion" #descripcion="ngModel" [maxLength]="100" placeholder="Descripción">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="f.reset(); cerrar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
