<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditar>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="f.reset(); cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <label for="cuentaBancaria-banco" class="col-sm-2 required control-label">Banco</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !banco.valid && (!banco.pristine || banco.touched || submitted),
            'has-success': banco.valid}">
              <div class="select-style">
                <select class="form-control" id="cuentaBancaria-banco" [(ngModel)]="element.banco_id" name="banco" #banco="ngModel" required >
                  <option *ngFor="let banco of data.bancos" [ngValue]="banco.id">{{banco.nombre}}</option>
                </select>
              </div>
              <span *ngIf="banco.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="banco.errors !== null && (!banco.pristine || banco.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!banco.valid && (!banco.pristine || banco.touched || submitted)" class="help-block">Seleccione un banco</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="cuentaBancaria-tipo" class="col-sm-2 required control-label">Tipo</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !tipo.valid && (!tipo.pristine || tipo.touched || submitted),
            'has-success': tipo.valid}">
              <div class="select-style">
                <select class="form-control" id="cuentaBancaria-tipo" [(ngModel)]="element.tipo" name="tipo" #tipo="ngModel" required >
                  <option [ngValue]="'Cuenta Corriente'">Cuenta Corriente</option>
                  <option [ngValue]="'Caja Ahorro'">Caja Ahorro</option>
                </select>
              </div>
              <span *ngIf="tipo.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="tipo.errors !== null && (!tipo.pristine || tipo.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!tipo.valid && (!tipo.pristine || tipo.touched || submitted)" class="help-block">Seleccione un tipo</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="cuentaBancaria-numero" class="col-sm-2 required control-label">Número</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !numero.valid && (!numero.pristine || numero.touched || submitted),
            'has-success': numero.valid}">
              <input class="form-control" id="cuentaBancaria-numero" [(ngModel)]="element.numero" name="numero" #numero="ngModel" required [maxLength]="50" placeholder="Numero">
              <span *ngIf="numero.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="numero.errors !== null && (!numero.pristine || numero.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!numero.valid && (!numero.pristine || numero.touched || submitted)" class="help-block">Ingrese un número</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="f.reset(); cerrar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
