.form-group-border {
  padding: 0.8%;
}

.table-retenciones {
  padding: 0;
  margin-right: 0;
}

.tablecontainer {
  padding: 0em;
  height: 11em;
  overflow-y: scroll;
}

.add-big {
  font-size: 200%;
}

.sublabel {
  font-size: 90%;
  font-weight: lighter;
}

.tabpanel {
  padding: 2% 2% 0em;
  border-left: solid gainsboro 0.05em;
  border-right: solid gainsboro 0.05em;
}
