<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form">
      <div class="row text-primary">
        <h2> Recuperar Contraseña</h2>
      </div>

      <form role="form" name="form1" #f1="ngForm" *ngIf="mostrarCodigo">
        <h5>Ingresa tu email y te enviaremos un código para poder recuperar tu contraseña</h5>
        <div class="form-group" [ngClass]="{'has-error': submitted1 && !email.valid}">
          <label class="sr-only" for="form-email">Email</label>
          <input type="text" name="form-email" placeholder="Email" class="form-email form-control form-control-lg"
                 id="form-email"  [(ngModel)]="model.email" #email="ngModel" required>
          <div *ngIf="submitted1 && !email.valid && email.errors !== null && email.errors.required" class="help-block">Ingrese el email para recibir el código</div>
          <div *ngIf="submitted1 && !email.valid && email.errors !== null && !email.errors.required" class="help-block">El mail ingresado es inválido</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': submitted1 && !empresa.valid}">
          <label class="sr-only" for="form-empresa">Empresa</label>
          <input type="text" name="form-empresa" placeholder="Empresa" class="form-empresa form-control form-control-lg"
                 id="form-empresa"  [(ngModel)]="model.tenant" #empresa="ngModel" required>
          <div *ngIf="submitted1 && !empresa.valid && empresa.errors !== null && empresa.errors.required" class="help-block">Ingrese su empresa</div>
          <div *ngIf="submitted1 && !empresa.valid && empresa.errors !== null && !empresa.errors.required" class="help-block">La empresa ingresada es inválida</div>
        </div>
        <button type="submit" (click)="enviarCodigo(f1)" class="btn btn-primary btn-md btn-block">Enviar Código</button>
        <button type="button" [routerLink]="['/login']" class="btn btn-default btn-md btn-block">Cancelar</button>
      </form>

      <form role="form" name="form2" #f2="ngForm" *ngIf="mostrarRecuperar">
        <h5>Ingresa el código que te enviamos y establece tu nueva contraseña</h5>
        <div class="form-group">
          <label class="sr-only" for="form-email2">Email</label>
          <input type="text" name="form-email" placeholder="Email" class="form-email form-control form-control-lg"
                 id="form-email2"  [(ngModel)]="model.email" required readonly>
        </div>

        <div class="form-group">
          <label class="sr-only" for="form-empresa2">empresa</label>
          <input type="text" name="form-empresa" placeholder="empresa" class="form-empresa form-control form-control-lg"
                 id="form-empresa2"  [(ngModel)]="model.tenant" required readonly>
        </div>

        <div class="form-group" [ngClass]="{'has-error': submitted2 && !codigo.valid}">
          <label class="sr-only" for="form-codigo">Código</label>
          <input type="text" name="form-codigo" placeholder="Código" class="form-codigo form-control form-control-lg"
                 id="form-codigo" [(ngModel)]="model.token" #codigo="ngModel" required>
          <div *ngIf="submitted2 && !codigo.valid" class="help-block">Ingrese el código recibido</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': submitted2 && !password.valid}">
          <label class="sr-only" for="form-password">Contraseña</label>
          <input type="password" name="form-password" placeholder="Contraseña" class="form-password form-control form-control-lg"
                 id="form-password" [ngModel]="model.password" (ngModelChange)="onPasswordChange($event)" #password="ngModel" required minlength="6" autocomplete="off">
          <div *ngIf="password.errors !== null && password.errors.required && submitted2" class="help-block">Ingrese una contraseña</div>
          <div *ngIf="password.errors !== null && password.errors.minlength && submitted2" class="help-block">La contraseña debe tener al menos 6 caracteres</div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': submitted2 && (!password.valid || passwordNoCoincide)}">
          <label class="sr-only" for="form-repassword">Repetir Contraseña</label>
            <input type="password" name="form-repassword" placeholder="Repetir Contraseña" class="form-repassword form-control form-control-lg"
                   id="form-repassword" [ngModel]="model.repassword" #repassword="ngModel" [required]="enNuevo" minlength="6" autocomplete="off" (ngModelChange)="onRepasswordChange($event)">
            <div *ngIf="repassword.errors !== null && repassword.errors.required && submitted2" class="help-block">Ingrese nuevamente la contraseña</div>
            <div *ngIf="passwordNoCoincide && submitted2" class="help-block">Las contraseñas no coinciden</div>
          </div>
        <button type="submit" (click)="reestablecer(f2)" class="btn btn-primary btn-md btn-block">Reestablecer Contraseña</button>
        <button type="button" [routerLink]="['/login']" class="btn btn-default btn-md btn-block">Cancelar</button>
      </form>
    </div>
  </div>
</div>
