<form class="form-horizontal" #f="ngForm">
  <div class="form-group row">
    <div class="col-sm-3">
      <label for="factura-cliente" class="col-sm-4 required control-label">Cliente</label>
      <div class="col-sm-8 input-group">
        <input id="factura-cliente" [(ngModel)]="clienteAsync" name="clienteAsync"
               [typeahead]="clientes"
               (typeaheadOnSelect)="onClienteChanged($event.item)"
               typeaheadMinLength="3"
               typeaheadOptionsLimit="7"
               typeaheadOptionField="nombre"
               class="form-control"
               autocomplete="off"
               placeholder="Cliente*"
               >
        <span class="input-group-btn">
        <button class="btn btn-default" data-toggle="modal" data-target="#modalBuscarCliente"><i class="glyphicon glyphicon-search"></i></button>
      </span>
      </div>
    </div>

    <label for="factura-tipo" class="col-sm-1 control-label">Tipo</label>
    <div class="col-sm-1">
      <input class="form-control" type="text" name="factura-tipo" id="factura-tipo" [ngModel]="tipoComprobante.nombre" readonly>
    </div>

    <label for="factura-punto-venta" class="col-sm-1 control-label">Pto. vta.</label>
    <div class="col-sm-1">
      <input class="form-control" type="text" name="factura-punto-venta" id="factura-punto-venta" [ngModel]="factura.punto_venta" readonly>
    </div>

    <label for="factura-numero" class="col-sm-1 control-label">Número</label>
    <div class="col-sm-1">
      <input class="form-control" type="text" name="factura-numero" id="factura-numero" [(ngModel)]="factura.numero" required placeholder="0">
    </div>

    <label for="factura-fecha" class="col-sm-1 control-label">Fecha</label>
    <div class="col-sm-2">
      <input class="form-control" type="date" name="factura-fecha" id="factura-fecha" [ngModel]="factura.fecha | date:'yyyy-MM-dd'" (ngModelChange)="factura.fecha = $event; fechaSeleccionada = true;" required>
    </div>
  </div>

  <table datatable id="table" [dtOptions]="dtOptions" class="row-border hover table">
    <thead>
      <tr>
        <th>Artículo</th>
        <th>Cantidad</th>
        <th>Importe</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.nombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.importe_unitario }}</td>
        <td>{{ item.importe_total }}</td>
      </tr>

      <tr>
        <td class="typeaheadcontainer">
          <input [(ngModel)]="articuloAsync" name="articuloAsync" class="typeaheadcontrol"
                [typeahead]="articulos"
                (typeaheadOnSelect)="onArticuloChanged($event)"
                typeaheadMinLength="3"
                typeaheadOptionsLimit="7"
                typeaheadOptionField="nombre"
                autocomplete="off"
                placeholder="artículo"
                (blur)="agregarNuevo()">
        </td>
        <td class="typeaheadcontainer">
          <input type="number" class="typeaheadcontrol" [(ngModel)]="item.cantidad" name="item-cantidad" (input)="onCantidadChanged()" (blur)="agregarNuevo()" placeholder="0" min="0" step="1">
        </td>
        <td  class="typeaheadcontainer">
          <input type="number" class="typeaheadcontrol" [(ngModel)]="item.importe_unitario" name="item-importe-unitario" (input)="onImporteUnitarioChanged()" (blur)="agregarNuevo()" placeholder="0.00" min="0" step="0.01">
        </td>
        <td>{{ item.importe_total }}</td>
      </tr>
    </tbody>
  </table>

  <div class="form-group row">
    <label for="factura-total" class="col-sm-1  col-sm-offset-8 control-label">Total:</label>
    <div class="col-sm-3">
      <input class="form-control" type="number" name="factura-total" id="factura-total" [ngModel]="factura.importe_total" readonly>
    </div>
  </div>

  <div class="pull-right">
    <button type="submit" (click)="generarFactura()" data-dismiss="modal" class="btn btn-success" [disabled]="!f.valid">Generar factura</button>
  </div>
</form>

<div class="modal fade" id="modalBuscarCliente" tabindex="-1" role="dialog" aria-labelledby="modalBuscarCliente" #modalBuscarCliente>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Buscar Clientes</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #fb="ngForm">
          <div class="form-group row">
            <label for="busqueda-cliente" class="col-sm-2 required control-label">Búsqueda</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="busqueda-cliente" [(ngModel)]="busquedaCliente" (input)="buscarClientes()" name="busqueda-cliente" placeholder="Bùsqueda" required>
            </div>
          </div>

          <table id="tabla-buscar-clientes" class="row-border hover table">
            <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>CUIT</th>
              <th>Domicilio</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cliente of busquedaClientes" class='clickable-row' (click)="busquedaClienteSeleccionado = cliente" [class.active]="cliente == busquedaClienteSeleccionado">
              <td>{{ cliente.codigo }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.cuit }}</td>
              <td>{{ cliente.domicilios[0].direccion }}</td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" (click)="confirmarBusquedaCliente()" data-dismiss="modal" class="btn btn-primary" [disabled]="busquedaClienteSeleccionado === null || !fb.valid">Aceptar</button>
      </div>
    </div>
  </div>
</div>
