button {
  background-color: inherit;
  border: hidden;

}
button:hover{
  color: #428bca;
}

/*Corrige error de flechas de bootstrap y del estilo de datatables superpuestas*/
table.dataTable thead .sorting {
  background-image: none;
}
table.dataTable thead .sorting_asc {
  background-image: none;
}
table.dataTable thead .sorting_desc {
  background-image: none;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: none;
}
table.dataTable thead .sorting_desc_disabled {
  background-image: none;
}