<app-progress-bar *ngIf="mostrarBarraCarga"></app-progress-bar>

<table datatable id="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table" [hidden]="!mostrarTabla">
  <thead>
  <tr>
    <ng-template [ngTemplateOutlet]="tableHeader"></ng-template>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of elements; let i = index">
    <ng-template [ngTemplateOutlet]="tableBody" [ngOutletContext]="{element: element}"></ng-template>
    <td>
      <button title="Editar" (click)="mostrarModalEditar(element, i)" class="glyphicon glyphicon-pencil blue"></button >
      <button title="Eliminar" (click)="mostrarModalEliminar(element)" data-toggle="modal" data-target="#modalEliminar" class="glyphicon glyphicon-remove red"></button >
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title">Eliminar {{nombreElemento}}</h4>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar {{articuloElemento}} {{nombreElemento}} {{elementSeleccionado['nombre']? elementSeleccionado['nombre'] : ''}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="eliminar()" data-dismiss="modal" class="btn btn-danger">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContainer></ng-template>
