<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditar>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <label for="articulo-codigo" class="col-sm-1 required control-label">Código</label>
            <div class="col-sm-3 has-feedback"
                 [ngClass]="{'has-error': !codigo.valid && (!codigo.pristine || codigo.touched || submitted),
            'has-success': codigo.valid}">
              <input class="form-control" id="articulo-codigo" [(ngModel)]="element.codigo" name="codigo" #codigo="ngModel" required [maxLength]="10" app-asyncValidator [objeto]="element" [path]="'articulos'" placeholder="Código">
              <span *ngIf="codigo.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="codigo.errors !== null && (!codigo.pristine || codigo.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="codigo.errors !== null && codigo.errors.required && (!codigo.pristine || codigo.touched || submitted)" class="help-block">Ingrese un código</div>
              <div *ngIf="codigo.errors !== null && codigo.errors.asyncInvalid " class="help-block">Código repetido</div>
            </div>

            <label for="articulo-activo" class="col-sm-1 col-sm-offset-6 control-label">Activo</label>
            <div class="col-sm-1 checkbox-inline">
              <input type="checkbox" id="articulo-activo" [(ngModel)]="element.activo" name="activo">
            </div>
          </div>

          <div class="form-group row">
            <label for="articulo-codigo-fabrica" class="col-sm-1 control-label">Código fábrica</label>
            <div class="col-sm-3">
              <input class="form-control" id="articulo-codigo-fabrica" [(ngModel)]="element.codigo_fabrica" name="codigo_fabrica" [maxLength]="30" placeholder="0">
            </div>

            <label for="articulo-codigo-auxiliar" class="col-sm-1 control-label">Código auxiliar</label>
            <div class="col-sm-3">
              <input class="form-control" id="articulo-codigo-auxiliar" [(ngModel)]="element.codigo_auxiliar" name="codigo_auxiliar" [maxLength]="30" placeholder="0">
            </div>

            <label for="articulo-lleva-stock" class="col-sm-1 col-sm-offset-2 control-label">Lleva stock</label>
            <div class="col-sm-1 checkbox-inline">
              <input type="checkbox" id="articulo-lleva-stock" [(ngModel)]="element.lleva_stock" name="stock">
            </div>
          </div>

          <div class="form-group row">
            <label for="articulo-nombre" class="col-sm-1 required control-label">Nombre</label>
            <div class="col-sm-11 has-feedback"
                 [ngClass]="{'has-error': !nombre.valid && (!nombre.pristine || nombre.touched || submitted),
            'has-success': nombre.valid}">
              <input class="form-control" id="articulo-nombre" [(ngModel)]="element.nombre" name="nombre" #nombre="ngModel" required [maxLength]="191" placeholder="Nombre">
              <span *ngIf="nombre.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="nombre.errors !== null && (!nombre.pristine || nombre.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="articulo-marca" class="col-sm-1 required control-label">Marca</label>
            <div class="col-sm-5 has-feedback"
                 [ngClass]="{'has-error': !marca.valid && (!marca.pristine || marca.touched|| submitted),
            'has-success': marca.valid}">
              <div class="select-style">
                <select class="form-control" id="articulo-marca" [(ngModel)]="element.marca_id" name="marca" #marca="ngModel" required >
                  <option *ngFor="let marca of data.marcas" [ngValue]="marca.id">{{marca.nombre}}</option>
                </select>
              </div>
              <span *ngIf="marca.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="marca.errors !== null && (!marca.pristine || marca.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!marca.valid && (!marca.pristine || marca.touched || submitted)" class="help-block">Seleccione una marca</div>
            </div>

            <label for="articulo-subrubro" class="col-sm-1 required control-label">Subrubro</label>
            <div class="col-sm-5 has-feedback"
                 [ngClass]="{'has-error': !subrubro.valid && (!subrubro.pristine || subrubro.touched || submitted),
            'has-success': subrubro.valid}">
              <div class="select-style">
                <select class="form-control" id="articulo-subrubro" [(ngModel)]="element.subrubro_id" name="subrubro" #subrubro="ngModel" required >
                  <option *ngFor="let subrubro of data.subrubros" [ngValue]="subrubro.id">{{subrubro.nombre}}</option>
                </select>
              </div>
              <span *ngIf="subrubro.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="subrubro.errors !== null && (!subrubro.pristine || subrubro.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!subrubro.valid && (!subrubro.pristine || subrubro.touched || submitted)" class="help-block">Seleccione un subrubro</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="articulo-nombre-reducido" class="col-sm-1 control-label">Nombre reducido</label>
            <div class="col-sm-3">
              <input class="form-control" id="articulo-nombre-reducido" [(ngModel)]="element.nombre_reducido" name="nombre_reducido" [maxLength]="20" placeholder="Nombre Reducido">
            </div>
          </div>

          <div class="form-group row">
            <label for="articulo-punto-pedido" class="col-sm-1 control-label">Punto pedido</label>
            <div class="col-sm-3"
                 [ngClass]="{'has-error': !puntopedido.valid && !puntopedido.pristine,
            'has-success': puntopedido.valid && !puntopedido.pristine}">
              <input type="number" class="form-control text-center" #puntopedido="ngModel" id="articulo-punto-pedido" [(ngModel)]="element.punto_pedido" name="punto_pedido"  min="0" step="1" placeholder="0" pattern="^\d{0,9}$">
              <div *ngIf="!puntopedido.valid && !puntopedido.pristine" class="help-block">Ingrese un número entero</div>
            </div>

            <label for="articulo-bajo-minimo" class="col-sm-1 control-label">Bajo mínimo</label>
            <div class="col-sm-3"
                 [ngClass]="{'has-error': !bajominimo.valid && !bajominimo.pristine,
            'has-success': bajominimo.valid && !bajominimo.pristine}">
              <input type="number" class="form-control text-center" id="articulo-bajo-minimo" #bajominimo="ngModel" [(ngModel)]="element.bajo_minimo" name="bajo_minimo"  min="0" step="1" placeholder="0" pattern="^\d{0,9}$">
              <div *ngIf="!bajominimo.valid && !bajominimo.pristine" class="help-block">Ingrese un número entero</div>
            </div>

            <label for="articulo-costo" class="col-sm-1 control-label">Costo</label>
            <div class="col-sm-3"
                 [ngClass]="{'has-error': !costo.valid && !costo.pristine,
            'has-success': costo.valid && !costo.pristine}">
              <input type="number" class="form-control text-right" id="articulo-costo" [(ngModel)]="element.costo" name="costo"  #costo="ngModel" min="0" step="0.01" pattern="^\d{1,12}([\.\,]\d{1,2})?$" placeholder="0.00">
              <div *ngIf="!costo.valid && !costo.pristine" class="help-block">Ingrese un número con dos decimales</div>
            </div>
          </div>

          <div class="form-group row">
            <div *ngIf="!element.activo">
              <label for="articulo-motivo" class="col-sm-1 control-label">Motivo</label>
              <div class="col-sm-9">
                <input class="form-control" id="articulo-motivo" [(ngModel)]="element.motivo" name="motivo" [maxLength]="191" placeholder="Motivo">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
