<ng-template #tableHeader>
  <th>Nombre</th>
  <th>Alícuota</th>
  <th style="width:10%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td>{{ element.nombre }}</td>
  <td>{{ element.alicuota }}%</td>
</ng-template>

<app-abm
  [femenino]="false"
  [nombreElemento]="'Tipo de Retención'"
  [pluralElemento]="'Tipos de Retención'"
  [path]="'tiporetenciones'"
  [elementClass]="tipoRetencion"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"
  [onElementNew]="formatAlicuota"
  [onElementEdit]="formatAlicuota"></app-abm>
