<ng-template #tableHeader>
  <th class="text-center">Nombre</th>
  <th class="text-center">Alícuota</th>
  <th class="text-center" style="width:20%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td class="text-center">{{ element.nombre }}</td>
  <td class="text-center">{{ element.alicuota }}%</td>
</ng-template>

<app-abm
  [femenino]="false"
  [nombreElemento]="'Tipo de Retención'"
  [pluralElemento]="'Tipos de Retención'"
  [path]="'tiporetenciones'"
  [elementClass]="tipoRetencion"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"></app-abm>
