<form class="form-horizontal" #f="ngForm">
  <div class="form-group row">
    <div class="col-sm-3">
      <label for="nota-cliente" class="col-sm-4 required control-label">Cliente</label>
      <div class="col-sm-8 input-group" [ngClass]="{'has-error': (!nombre.valid && (!nombre.pristine || nombre.touched || submitted))
      || typeaheadNombreClienteNoResults === true
      || (clienteAsync.length < 3 && clienteAsync.length > 0)}">
        <input id="nota-cliente" [(ngModel)]="clienteAsync" name="clienteAsync"
               [typeahead]="clientes"
               (typeaheadOnSelect)="onClienteChanged($event.item)"
               (typeaheadNoResults)="changeTypeaheadNombreClienteNoResults($event)"
               (typeaheadOnBlur)="typeaheadNombreClienteOnBlur()"
               typeaheadMinLength="3"
               typeaheadOptionsLimit="7"
               typeaheadOptionField="nombre"
               class="form-control"
               autocomplete="off"
               placeholder="Cliente"
               #nombre="ngModel"
               required
               #typeaheadNombreCliente>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalBuscarCliente"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
      <div [ngClass]="{'has-error': (!nombre.valid && (!nombre.pristine || nombre.touched || submitted))
      || typeaheadNombreClienteNoResults === true
      || (clienteAsync.length < 3 && clienteAsync.length > 0)}">
        <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
        <div *ngIf="typeaheadNombreClienteNoResults === true" class="help-block">No se han encontrado resultados</div>
        <div *ngIf="(clienteAsync.length < 3 && clienteAsync.length > 0)" class="help-block">Ingrese 3 letras para comenzar la búsqueda</div>
      </div>
    </div>

    <div class="col-sm-9">
      <label for="nota-tipo" class="col-sm-1 control-label">Tipo</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" name="nota-tipo" id="nota-tipo" [ngModel]="tipoComprobante.nombre" readonly>
      </div>

      <label for="nota-punto-venta" class="col-sm-1 control-label">Pto. vta.</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" name="nota-punto-venta" id="nota-punto-venta" [ngModel]="nota.punto_venta" readonly>
      </div>

      <label for="nota-numero" class="col-sm-1 control-label">Número</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" name="nota-numero" id="nota-numero" [(ngModel)]="nota.numero" required placeholder="0">
      </div>

      <label for="nota-fecha" class="col-sm-1 control-label">Fecha</label>
      <div class="col-sm-2">
        <my-date-picker id="nota-fecha" [(ngModel)]="fecha" name="nota-fecha" [options]="myDatePickerOptions"></my-date-picker>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <label for="nota-cliente-cod" class="col-sm-4 required control-label">Código</label>
      <div class="col-sm-8 input-group" [ngClass]="{'has-error': (!codigo.valid && (!codigo.pristine || codigo.touched || submitted))
      || typeaheadCodigoClienteNoResults === true}">
        <input id="nota-cliente-cod" [(ngModel)]="clienteCodAsync" name="clienteCodAsync"
               [typeahead]="clientesCod"
               (typeaheadOnSelect)="onClienteChanged($event.item)"
               (typeaheadNoResults)="changeTypeaheadCodigoClienteNoResults($event)"
               (typeaheadOnBlur)="typeaheadCodClienteOnBlur()"
               typeaheadMinLength="1"
               typeaheadOptionsLimit="7"
               typeaheadOptionField="codigo"
               class="form-control"
               autocomplete="off"
               placeholder="Código"
               #codigo="ngModel"
               required>
      </div>
      <div [ngClass]="{'has-error': (!codigo.valid && (!codigo.pristine || codigo.touched || submitted))
      || typeaheadCodigoClienteNoResults === true}">
        <div *ngIf="!codigo.valid && (!codigo.pristine || codigo.touched || submitted)" class="help-block">Ingrese un código</div>
        <div *ngIf="typeaheadCodigoClienteNoResults === true && codigo.valid" class="help-block">No se han encontrado resultados</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="nota-tipo" class="col-sm-1 control-label">Descripción</label>
    <div class="col-sm-7">
      <input class="form-control" type="text" name="nota-descripcion" id="nota-descripcion">
    </div>
    <label for="nota-tipo" class="col-sm-1 control-label">Importe</label>
    <div class="col-sm-3">
      <input class="form-control" type="number" name="nota-importe" id="nota-importe" [ngModel]="importe" (ngModelChange)="onImporteChanged($event)" placeholder="0.00" min="0" step="0.01">
    </div>
  </div>

  <div class="form-group row" [hidden]="!regexTipoA.test(tipoComprobante.codigo)">
    <label for="nota-subtotal" class="col-sm-1  col-sm-offset-9 control-label">Subtotal</label>
    <div class="col-sm-2">
      <input class="form-control text-right" type="number" name="nota-subtotal" id="nota-subtotal" [ngModel]="nota.importe_neto" readonly>
    </div>
  </div>
  <div class="form-group row" [hidden]="!regexTipoA.test(tipoComprobante.codigo)">
    <label for="nota-importe-iva" class="col-sm-1  col-sm-offset-9 control-label">IVA {{iva*100}}%</label>
    <div class="col-sm-2">
      <input class="form-control text-right" type="number" name="nota-importe-iva" id="nota-importe-iva" [ngModel]="nota.importe_iva" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="nota-total" class="col-sm-1  col-sm-offset-9 control-label">Total</label>
    <div class="col-sm-2">
      <input class="form-control text-right" type="number" name="nota-total" id="nota-total" [ngModel]="nota.importe_total" readonly>
    </div>
  </div>

  <div class="pull-right">
    <button type="button" (click)="generarNota()" class="btn btn-success" [disabled]="!f.valid">Confirmar</button>
  </div>
</form>

<div class="modal fade" id="modalBuscarCliente" tabindex="-1" role="dialog" aria-labelledby="modalBuscarCliente" #modalBuscarCliente>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Buscar Clientes</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #fb="ngForm">
          <div class="form-group row">
            <label for="busqueda-cliente" class="col-sm-2 required control-label">Búsqueda</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="busqueda-cliente" [(ngModel)]="busquedaCliente" (input)="buscarClientes()" name="busqueda-cliente" placeholder="Búsqueda" required>
            </div>
          </div>

          <table id="tabla-buscar-clientes" class="row-border hover table">
            <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>CUIT</th>
              <th>Domicilio</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cliente of busquedaClientes" class='clickable-row' (click)="busquedaClienteSeleccionado = cliente" [class.active]="cliente == busquedaClienteSeleccionado">
              <td>{{ cliente.codigo }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.cuit }}</td>
              <td>{{ cliente.domicilios[0].direccion }}</td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" (click)="confirmarBusquedaCliente()" data-dismiss="modal" class="btn btn-primary" [disabled]="busquedaClienteSeleccionado === null || !fb.valid">Aceptar</button>
      </div>
    </div>
  </div>
</div>
