<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']"  class="navbar-left">
        <img alt="logo" style="height: 50px; width: 68px; margin-right: 15px" src="assets/logo-white.png">
      </a>
      <a class="navbar-brand" href="/">Hermes Web</a>
      <p class="navbar-text">{{titulo_navbar}}</p>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="!usuarioLogeado">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/login']">Iniciar Sesión</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!!usuarioLogeado">
        <li><a [routerLink]="['/']">{{usuarioLogeado.name}}</a></li>
        <li><a [routerLink]="['/']" (click)="salir()">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
