<div class="progress" *ngIf="mostrarBarraCarga">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span>Cargando<span class="dotdotdot"></span></span>
  </div>
</div>

<table datatable id="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table" [hidden]="!mostrarTabla">
  <thead>
  <tr>
    <th>Código</th>
    <th>Nombre</th>
    <th>CUIT</th>
    <th>Tipo Responsable</th>
    <th style="width:10%">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let proveedor of proveedores">
    <td>{{ proveedor.codigo }}</td>
    <td>{{ proveedor.nombre }}</td>
    <td>{{ proveedor.cuit }}</td>
    <td>{{ proveedor.tipo_responsable_str }}</td>
    <td>
      <button title="Editar proveedor" (click)="mostrarModalEditar(proveedor)" data-toggle="modal" data-target="#modalEditar" class="glyphicon glyphicon-pencil blue"></button >
      <button title="Eliminar proveedor" (click)="mostrarModalEliminar(proveedor)" data-toggle="modal" data-target="#modalEliminar" class="glyphicon glyphicon-remove red"></button >
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="cerrar(null)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Eliminar Proveedor</h4>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar al proveedor {{proveedorSeleccionado.nombre}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="cerrar(null)" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="eliminar()" data-dismiss="modal" class="btn btn-danger">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditar>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" (click)="cerrar(f)" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" #f="ngForm">

          <div class="form-group row">
            <label for="proveedor-codigo" class="col-sm-1 required control-label">Código</label>
            <div class="col-sm-3 has-feedback"
                 [ngClass]="{'has-error': (codigo.errors !== null && codigo.errors.required && (!codigo.pristine || codigo.touched || submitted)) || (codigo.errors !== null && codigo.errors.asyncInvalid),
             'has-success': codigo.valid}" required>
              <input type="text" class="form-control" id="proveedor-codigo" [(ngModel)]="proveedorSeleccionado.codigo" name="codigo" #codigo="ngModel" required [maxLength]="10" app-asyncValidator [objeto]="proveedorSeleccionado" [path]="'proveedores'" placeholder="Código">
              <span *ngIf="codigo.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="codigo.errors !== null && (!codigo.pristine || codigo.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="codigo.errors !== null && codigo.errors.required && (!codigo.pristine || codigo.touched || submitted)" class="help-block">Ingrese un código</div>
              <div *ngIf="codigo.errors !== null && codigo.errors.asyncInvalid" class="help-block">Código repetido</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="proveedor-nombre" class="col-sm-1 required control-label">Nombre</label>
            <div class="col-sm-6 has-feedback"
                 [ngClass]="{'has-error': !nombre.valid && (!nombre.pristine || nombre.touched || submitted),
            'has-success': nombre.valid}">
              <input type="text" class="form-control" id="proveedor-nombre" [(ngModel)]="proveedorSeleccionado.nombre" name="nombre" #nombre="ngModel" required [maxLength]="191" placeholder="Nombre">
              <span *ngIf="nombre.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="nombre.errors !== null && (!nombre.pristine || nombre.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
            </div>

            <label for="proveedor-email" class="col-sm-1 control-label">Email</label>
            <div class="col-sm-4 has-feedback"
                 [ngClass]="{'has-error': !email.valid && (!email.pristine || email.touched || submitted),
            'has-success': email.valid && email.value !== '' && email.value !== undefined}">
              <input type="email" class="form-control" id="proveedor-email" [(ngModel)]="proveedorSeleccionado.email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="email@gmail.com">
              <span *ngIf="email.valid && email.value !== '' && email.value !== undefined" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="email.errors !== null && (!email.pristine || email.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!email.valid && (!email.pristine || email.touched || submitted)" class="help-block">Email inválido</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="proveedor-tipo-responsable" class="col-sm-3 control-label">Tipo responsable</label>
            <div class="col-sm-3">
              <select class="form-control" id="proveedor-tipo-responsable" [(ngModel)]="proveedorSeleccionado.tipo_responsable" name="tipo-responsable">
                <option *ngFor="let tipo of tipos_responsable" [ngValue]="tipo.clave">{{tipo.nombre}}</option>
              </select>
            </div>

            <label for="proveedor-cuit" class="col-sm-1 control-label" [ngClass]="{required: proveedorSeleccionado.tipo_responsable === 'RI' || proveedorSeleccionado.tipo_responsable === 'M'}">CUIT</label>
            <div class="col-sm-5 has-feedback"
                 [ngClass]="{'has-error': !cuit.valid && (!cuit.pristine || cuit.touched || submitted),
            'has-success': cuit.valid && cuit.value !== '' && cuit.value !== undefined}">
              <input type="text" class="form-control" id="proveedor-cuit" [(ngModel)]="proveedorSeleccionado.cuit" name="cuit" #cuit="ngModel" [maxLength]="191" placeholder="00-00000000-0" [textMask]="{mask: cuitmask}" [required]="proveedorSeleccionado.tipo_responsable === 'RI' || proveedorSeleccionado.tipo_responsable === 'M'">
              <span *ngIf="cuit.valid && cuit.value !== '' && cuit.value !== undefined" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="cuit.errors !== null && (!cuit.pristine || cuit.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!cuit.valid && (!cuit.pristine || cuit.touched || submitted)" class="help-block">Ingrese un CUIT</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="proveedor-telefono" class="col-sm-1 control-label">Teléfono</label>
            <div class="col-sm-5">
              <input type="tel" class="form-control" id="proveedor-telefono" [(ngModel)]="proveedorSeleccionado.telefono" name="telefono" [maxLength]="191" placeholder="(0342) 4000000" [textMask]="{mask: telmask, keepCharPositions: true }">
            </div>

            <label for="proveedor-celular" class="col-sm-1 control-label">Celular</label>
            <div class="col-sm-5">
              <input type="tel" class="form-control" id="proveedor-celular" [(ngModel)]="proveedorSeleccionado.celular" name="celular" [maxLength]="191" placeholder="(0342) 150000000" [textMask]="{mask: celmask, keepCharPositions: true}">
            </div>
          </div>

          <div class="form-group row">
            <label for="proveedor-activo" class="col-sm-1 control-label">Activo</label>
            <div class="col-sm-1 checkbox-inline">
              <input type="checkbox" id="proveedor-activo" [(ngModel)]="proveedorSeleccionado.activo" name="activo">
            </div>

            <div *ngIf="!proveedorSeleccionado.activo">
              <label for="proveedor-motivo" class="col-sm-1 control-label">Motivo</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="proveedor-motivo" [(ngModel)]="proveedorSeleccionado.motivo" name="direccion" [maxLength]="191" placeholder="Motivo">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" (click)="cerrar(f)" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


