<ng-container [formGroup]="form">
  <!--Label-->
  <label [for]="field.name + field.label" class="control-label {{field.labelsize}} {{field.offset}} {{field.required}}">{{field.label}}</label>

  <div class="{{field.fieldsize}}" [ngClass]="{'has-error': !form.controls[field.name].valid && submitted, 'checkbox-inline': field.type === 'checkbox', 'has-feedback': field.type !== 'checkbox'}">
    <!--Input-->
    <ng-container [ngSwitch]="field.type">
      <!--type text or number-->
      <input [type]="field.type" *ngSwitchDefault title="{{field.label}}" class="form-control {{field.align}}" [formControl]="form.controls[field.name]" [id]="field.name + field.label" [placeholder]="field.placeholder" [(ngModel)]="element[field.name]" (change)="onChange($event)">

      <!--type select-->
      <select *ngSwitchCase="'select'" title="{{field.label}}" class="form-control {{field.align}}" [formControl]="form.controls[field.name]" id="cuentaBancaria-banco" [id]="field.name + field.label"  [(ngModel)]="element[field.name]" (change)="onChange($event)">
        <option [ngValue]="undefined">Seleccione {{field.femenino? 'una' : 'un'}} {{field.label}}</option>
        <option *ngFor="let datum of data[field.references]" [ngValue]="datum.id">{{datum.nombre}}</option>
      </select>

      <!--type checkbox-->
      <input [type]="'checkbox'" *ngSwitchCase="'checkbox'" title="{{field.label}}" [formControl]="form.controls[field.name]" [id]="field.name + field.label" (change)="toggle($event)" [checked]="element[field.name]">
    </ng-container>
    <!--Errors-->
    <ng-container *ngIf="form.controls[field.name].errors !== null && submitted">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      <div *ngIf="form.controls[field.name].errors['required']" class="help-block">{{field.type === 'select' ? 'Seleccione' : 'Ingrese'}} {{field.femenino? 'una' : 'un'}} {{field.label}}</div>
      <div *ngIf="form.controls[field.name].errors['maxlength']" class="help-block">La longitud máxima es de {{form.controls[field.name].errors['maxlength']['requiredLength']}} caracteres</div>
      <div *ngIf="form.controls[field.name].errors['minlength']" class="help-block">La longitud mínima es de {{form.controls[field.name].errors['minlength']['requiredLength']}} caracteres</div>
      <div *ngIf="form.controls[field.name].errors['min']" class="help-block">El número debe ser mayor a {{form.controls[field.name].errors['min']['min']}}</div>
      <div *ngIf="form.controls[field.name].errors['max']" class="help-block">El número debe ser menor a {{form.controls[field.name].errors['max']['max']}}</div>
      <div *ngIf="form.controls[field.name].errors['decimalPlaces']" class="help-block">El número debe tener {{form.controls[field.name].errors['decimalPlaces']['decimalPlaces']}} posiciones decimales</div>
      <div *ngIf="form.controls[field.name].errors['uniqueCode']" class="help-block">Código repetido</div>
    </ng-container>
  </div>
</ng-container>
