<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditar>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="f.reset(); cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <label for="banco-nombre" class="col-sm-2 required control-label">Nombre</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !nombre.valid && (!nombre.pristine || nombre.touched || submitted),
            'has-success': nombre.valid}">
              <input class="form-control" id="banco-nombre" [(ngModel)]="element.nombre" name="nombre" #nombre="ngModel" required [maxLength]="50" placeholder="Nombre">
              <span *ngIf="nombre.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="nombre.errors !== null && (!nombre.pristine || nombre.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="f.reset(); cerrar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
