<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form">

<!--        <div class="row">
          <img src="assets/logo.png" class="image img-responsive center-block" style="height: 200px">
        </div>-->
        <div class="row text-primary">
          <h2> Ingresar</h2>
        </div>


      <!--<h2 class="ui blue image header">
        <img src="assets/logo.png" class="image">
        <div class="content">
          Ingresar
        </div>
      </h2>-->
      <form role="form" class="login-form" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
          <label class="sr-only" for="form-username">Usuario</label>
          <input type="text" name="form-username" placeholder="Usuario" class="form-username form-control form-control-lg"
                 id="form-username"  [(ngModel)]="model.email" #username="ngModel" required>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Ingrese su usuario</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
          <label class="sr-only" for="form-password">Contraseña</label>
          <input type="password" name="form-password" placeholder="Contraseña" class="form-password form-control form-control-lg"
                 id="form-password" [(ngModel)]="model.password" #password="ngModel" required>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Ingrese su contraseña</div>
        </div>
        <button type="submit" class="btn btn-primary btn-md btn-block">Ingresar</button>
        <a [routerLink]="['/register']" class="btn btn-default btn-md btn-block">Registrarse</a>
      </form>
    </div>
  </div>
</div>
