<div class="modal fade" id="modalfastabm" tabindex="-1" role="dialog" #modalfastabm>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{pluralElemento}}</h4>
      </div>
      <div class="modal-body row">
        <div class="col-sm-5">
          <form class="form-horizontal" #ff="ngForm">
            <div>
              <div class="form-group row">
                <label for="deposito-cuenta" class="col-sm-4 required control-label">Cuenta Bancaria</label>
                <div class="col-sm-8 has-feedback"
                     [ngClass]="{'has-error': !cuenta.valid && (!cuenta.pristine || cuenta.touched || submitted),
            'has-success': cuenta.valid}">
                  <div class="select-style">
                    <select class="form-control" id="deposito-cuenta" [(ngModel)]="element.cuenta_id" name="cuenta" #cuenta="ngModel" required >
                      <option *ngFor="let cuenta of data.cuentas" [ngValue]="cuenta.id">{{cuenta.numero}}</option>
                    </select>
                  </div>
                  <span *ngIf="cuenta.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  <span *ngIf="cuenta.errors !== null && (!cuenta.pristine || cuenta.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <div *ngIf="!cuenta.valid && (!cuenta.pristine || cuenta.touched || submitted)" class="help-block">Seleccione una cuenta bancaria</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="deposito-numero" class="col-sm-4 control-label">Número</label>
                <div class="col-sm-8">
                  <input class="form-control" id="deposito-numero" [(ngModel)]="element.numero" name="numero" #numero="ngModel" [maxLength]="20" placeholder="Número">
                </div>
              </div>

              <div class="form-group row">
                <label for="deposito-importe" class="col-sm-4 required control-label">Importe</label>
                <div class="col-sm-8 has-feedback"
                     [ngClass]="{'has-error': !importe.valid && (!importe.pristine || importe.touched || submitted),
            'has-success': importe.valid}">
                  <input type="number" class="form-control text-right" id="deposito-importe" [(ngModel)]="element.importe" name="importe" #importe="ngModel" required min="0" step="0.01" pattern="^\d{1,14}([\.\,]\d{1,2})?$" placeholder="0.00">
                  <span *ngIf="importe.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  <span *ngIf="importe.errors !== null && (!importe.pristine || importe.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <div *ngIf="importe.errors !== null && importe.errors.required != null && (!importe.pristine || importe.touched || submitted)" class="help-block">Ingrese un importe</div>
                  <div *ngIf="importe.errors !== null && importe.errors.required == null && (!importe.pristine || submitted)" class="help-block">Ingrese un número con dos decimales</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="deposito-tipo" class="col-sm-4 control-label">Tipo</label>
                <div class="col-sm-8">
                  <div class="select-style">
                    <select class="form-control" id="deposito-tipo" [(ngModel)]="element.tipo" name="tipo" #tipo="ngModel" >
                      <option [ngValue]="'D'">Depósito</option>
                      <option [ngValue]="'T'">Transferencia</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="deposito-descripcion" class="col-sm-4 control-label">Descripción</label>
                <div class="col-sm-8">
                  <input class="form-control" id="deposito-descripcion" [(ngModel)]="element.descripcion" name="descripcion" #descripcion="ngModel" [maxLength]="500" placeholder="Descripción">
                </div>
              </div>
            </div>
            <div class="pull-right">
              <button type="button" (click)="cancelar(ff)" class="btn btn-default">Cancelar</button>
              <button (click)="editarONuevo(ff)" class="btn btn-primary">Aceptar</button>
            </div>
          </form>
        </div>

        <div class="col-sm-7">
          <table id="fasttable" class="row-border hover table">
            <thead>
            <tr>
              <th class="text-center">Cuenta</th>
              <th class="text-center">Número</th>
              <th class="text-center">Importe</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of elementsCopy;let i = index" (click)="editar(element)" [class.active]="element == elementOriginal">
              <td class="text-center">{{ element.cuenta_numero }}</td>
              <td class="text-center">{{ element.numero }}</td>
              <td class="text-right">{{ element.importe }}</td>
              <td width="10%" class="text-center"><button (click)="eliminar(i)" class="glyphicon glyphicon-remove red"></button ></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="aceptar()" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>
