<ng-template #tableHeader>
  <th>Banco</th>
  <th>Tipo</th>
  <th>Número</th>
  <th style="width:10%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td>{{ element.banco_nombre }}</td>
  <td>{{ element.tipo }}</td>
  <td>{{ element.numero }}</td>
</ng-template>

<app-abm
  [femenino]="true"
  [nombreElemento]="'Cuenta Bancaria'"
  [pluralElemento]="'Cuentas Bancarias'"
  [path]="'cuentasbancarias'"
  [elementClass]="cuentaBancaria"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"
  [beforeElementLoad]="cargarBancos"
  [onElementLoad]="asignarNombreBancos"
  [onElementEdit]="asignarNombreBanco"
  [onElementNew]="asignarNombreBanco"></app-abm>
