<ng-template #tableHeader>
  <th>Nombre</th>
  <th>Tipo</th>
  <th style="width:10%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td>{{ element.nombre }}</td>
  <td>{{ element.tipo==='C'? 'Crédito' : 'Débito' }}</td>
</ng-template>

<app-abm
  [femenino]="false"
  [nombreElemento]="'Tipo de Tarjeta'"
  [pluralElemento]="'Tipos de Tarjeta'"
  [path]="'tipostarjeta'"
  [elementClass]="tipoTarjeta"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"></app-abm>
