<form class="form-horizontal">
  <div class="form-group row">
    <label for="tipo" class="col-sm-2 control-label">Medio de pago:</label>
    <div class="col-sm-3">
      <select class="form-control" id="tipo" [(ngModel)]="medioPago" name="tipo">
        <option [ngValue]="0">Cheques de Terceros</option>
        <option [ngValue]="1">Depósitos</option>
        <option [ngValue]="2">Tarjetas</option>
      </select>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse">Mostrar Filtros</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default" (click)="filtrar()">Filtrar</button>
    </div>
  </div>
  <div class="collapse" id="collapse">
    <div class="form-group row">
      <div class="col-sm-4 box">
        <h5>Fecha de Ingreso</h5>
        <div class="col-sm-12" [ngClass]="{'has-error': rangoFechaInvalido() && filtrarFechaIngreso}" style="padding-left: 10px">
          <label class="col-sm-3 control-label" style="padding-left: 0; padding-right: 0; text-align: left">
            <input type="checkbox" [(ngModel)]="filtrarFechaIngreso" name="filtrarFechaIngreso" [value]="true">
            Intervalo
          </label>
          <div  class="col-sm-4" style="margin-left:10px; padding-left: 0; padding-right: 0">
            <my-date-picker id="fecha-ingreso-inicio" [(ngModel)]="fechaIngresoInicio" [name]="'fecha-ingreso-inicio'" [options]="myDatePickerOptions" [disabled]="!filtrarFechaIngreso"></my-date-picker>
          </div>
          <div class="col-sm-4" style="margin-left:10px; padding-left: 0; padding-right: 0">
            <my-date-picker id="fecha-ingreso-fin" [(ngModel)]="fechaIngresoFin" [name]="'fecha-ingreso-fin'" [options]="myDatePickerOptions" [disabled]="!filtrarFechaIngreso"></my-date-picker>
          </div>

          <div *ngIf="(rangoFechaInvalido() && filtrarFechaIngreso)" class="help-block col-sm-12">La fecha de inicio no puede ser posterior a la fecha de fin</div>
        </div>
      </div>

      <div class="col-sm-4 box">
        <h5>Cliente</h5>
        <div class="col-sm-12">
          <label class="col-sm-3  control-label" style="padding-left: 0; padding-right: 0; text-align: left">
            Seleccionar
          </label>
          <div class="col-sm-9">
            <select class="form-control" id="cliente" [(ngModel)]="cliente" name="cliente" title="cliente">
              <option [ngValue]="0">Todos</option>
              <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{cliente.nombre}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-4 box" *ngIf="medioPago === 0">
        <h5>Banco</h5>
        <div class="col-sm-12">
          <label class="col-sm-3  control-label" style="padding-left: 0; padding-right: 0; text-align: left">
            Seleccionar
          </label>
          <div class="col-sm-9">
            <select class="form-control" id="banco" [(ngModel)]="banco" name="banco" title="banco">
              <option [ngValue]="0">Todos</option>
              <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{banco.nombre}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-4 box" *ngIf="medioPago === 2">
        <h5>Estado</h5>
        <div class="col-sm-12">
          <label class="col-sm-3 control-label" style="padding-left: 0; padding-right: 0; text-align: left">
            Seleccionar
          </label>
          <div class="col-sm-9">
            <select class="form-control" id="estado1" [(ngModel)]="estado" name="estado" title="estado">
              <option [ngValue]="'0'">Todos</option>
              <option [ngValue]="'I'">Ingresado</option>
              <option [ngValue]="'A'">Acreditado</option>
              <option [ngValue]="'R'">Rechazado</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-4 box" *ngIf="medioPago === 1">
        <h5>Número</h5>
        <div class="col-sm-12">
          <label class="col-sm-1 control-label" for="numero1" style="padding-left: 0; padding-right: 0; text-align: left">
            <input type="checkbox" [(ngModel)]="filtrarNumero" name="filtrarNumero" [value]="true">
          </label>
          <div class="col-sm-11">
            <input class="form-control" [(ngModel)]="numero" name="numero" [disabled]="!filtrarNumero" id="numero1" maxlength="20">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4 box" *ngIf="medioPago === 0">
        <h5>Estado</h5>
        <div class="col-sm-12">
          <label class="col-sm-3 control-label" style="padding-left: 0; padding-right: 0; text-align: left">
            Seleccionar
          </label>
          <div class="col-sm-9">
            <select class="form-control" id="estado2" [(ngModel)]="estado" name="estado" title="estado">
              <option [ngValue]="'0'">Todos</option>
              <option [ngValue]="'I'">Ingresado</option>
              <option [ngValue]="'D'">Depositado</option>
              <option [ngValue]="'T'">Transferido</option>
              <option [ngValue]="'R'">Rechazado</option>
              <option [ngValue]="'V'">Vencido</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-4 box" *ngIf="medioPago === 0">
        <h5>Número</h5>
        <div class="col-sm-12">
          <label class="col-sm-1 control-label" for="numero2" style="padding-left: 0; padding-right: 0; text-align: left">
            <input type="checkbox" [(ngModel)]="filtrarNumero" name="filtrarNumero" [value]="true">
          </label>
          <div class="col-sm-11">
            <input class="form-control" [(ngModel)]="numero" name="numero" [disabled]="!filtrarNumero" id="numero2" maxlength="20">
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-tarjetas *ngIf="mostrarTarjetas" [filter]="filter"></app-tarjetas>
  <app-depositos *ngIf="mostrarDepositos" [filter]="filter"></app-depositos>
  <app-cheques *ngIf="mostrarCheques" [filter]="filter"></app-cheques>
</form>
