<div class="modal fade" id="modalEditarTarjeta" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditarTarjeta>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="f.reset(); cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <label for="tarjeta-cliente" class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-10">
              <div class="select-style">
                <select class="form-control" id="tarjeta-cliente" [(ngModel)]="tarjeta.cliente_id" name="cliente" #cliente="ngModel">
                  <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{cliente.nombre}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="tarjeta-tipo" class="col-sm-2 required control-label">Tipo</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !tipo.valid && (!tipo.pristine || tipo.touched || submitted),
            'has-success': tipo.valid}">
              <div class="select-style">
                <select class="form-control" id="tarjeta-tipo" [(ngModel)]="tarjeta.tarjeta_id" name="tipo" #tipo="ngModel" required>
                  <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">{{tipo.nombre}}</option>
                </select>
              </div>
              <span *ngIf="tipo.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="tipo.errors !== null && (!tipo.pristine || tipo.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!tipo.valid && (!tipo.pristine || tipo.touched || submitted)" class="help-block">Seleccione un tipo de tarjeta</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="tarjeta-importe" class="col-sm-2 required control-label">Importe</label>
            <div class="col-sm-4 has-feedback"
                 [ngClass]="{'has-error': !importe.valid && (!importe.pristine || importe.touched || submitted),
            'has-success': importe.valid}">
              <input type="number" class="form-control text-right" id="tarjeta-importe" [(ngModel)]="tarjeta.importe" name="importe" #importe="ngModel" required min="0" step="0.01" pattern="^\d{1,14}([\.\,]\d{1,2})?$" placeholder="0.00">
              <span *ngIf="importe.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="importe.errors !== null && (!importe.pristine || importe.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="importe.errors !== null && importe.errors.required != null && (!importe.pristine || importe.touched || submitted)" class="help-block">Ingrese un importe</div>
              <div *ngIf="importe.errors !== null && importe.errors.required == null && (!importe.pristine || submitted)" class="help-block">Ingrese un número con dos decimales</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="tarjeta-fecha" class="col-sm-2 required control-label">Fecha Ingreso</label>
            <div class="col-sm-4">
              <my-date-picker id="tarjeta-fecha" [(ngModel)]="tarjeta.fecha_ingreso" [options]="myDatePickerOptions" [name]="'fecha'"></my-date-picker>
            </div>

            <label for="tarjeta-fechaacr" class="col-sm-2 control-label">Fecha Acreditación</label>
            <div class="col-sm-4">
              <my-date-picker id="tarjeta-fechaacr" [(ngModel)]="tarjeta.fecha_acreditacion" [options]="myDatePickerOptions" [name]="'fechaacr'"></my-date-picker>
            </div>
          </div>

          <div class="form-group row">
            <label for="tarjeta-estado" class="col-sm-2 required control-label">Estado</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !estado.valid && (!estado.pristine || estado.touched || submitted),
            'has-success': estado.valid}">
              <div class="select-style">
                <select class="form-control" id="tarjeta-estado" [(ngModel)]="tarjeta.estado" name="estado" #estado="ngModel" required>
                  <option [ngValue]="'I'">Ingresado</option>
                  <option [ngValue]="'A'">Acreditado</option>
                  <option [ngValue]="'R'">Rechazado</option>
                </select>
              </div>
              <span *ngIf="estado.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="estado.errors !== null && (!estado.pristine || estado.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!estado.valid && (!estado.pristine || estado.touched || submitted)" class="help-block">Seleccione un estado</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="tarjeta-descripcion" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10">
              <input class="form-control" id="tarjeta-descripcion" [(ngModel)]="tarjeta.descripcion" name="descripcion" #descripcion="ngModel" [maxLength]="500" placeholder="Descripción">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="f.reset(); cerrar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
