<ng-template #tableHeader>
  <th>Nombre</th>
  <th>Zona</th>
  <th>Comisión</th>
  <th style="width:10%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td>{{ element.nombre }}</td>
  <td>{{ element.zona_nombre }}</td>
  <td>{{ element.comision }}</td>
</ng-template>

<app-abm
  [femenino]="false"
  [nombreElemento]="'Vendedor'"
  [pluralElemento]="'Vendedores'"
  [path]="'vendedores'"
  [elementClass]="vendedor"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"
  [beforeElementLoad]="cargarZonas"
  [onElementLoad]="asignarNombreZonas"
  [onElementEdit]="asignarNombreZona"
  [onElementNew]="asignarNombreZona"></app-abm>
