<form class="form-horizontal">
  <div class="form-group row">
    <div class="col-sm-4">
      <label for="cta-cte-cliente" class="col-sm-4 control-label">Cliente:</label>
      <div class="col-sm-8 input-group" [ngClass]="{'has-error': (!nombre.valid && (!nombre.pristine || nombre.touched || submitted))
      || typeaheadNoResults===true
      || (clienteCtaCteAsync.length < 3 && clienteCtaCteAsync.length > 0)}">
        <input id="cta-cte-cliente" [(ngModel)]="clienteCtaCteAsync" name="clienteCtaCteAsync"
               [typeahead]="clientesCtaCte"
               (typeaheadOnSelect)="onClienteCtaCteChanged($event.item)"
               (typeaheadNoResults)="changeTypeaheadNoResults($event)"
               (typeaheadOnBlur)="typeaheadOnBlur()"
               typeaheadMinLength="3"
               typeaheadOptionsLimit="7"
               typeaheadOptionField="nombre"
               class="form-control"
               autocomplete="off"
               placeholder="Cliente"
               #nombre="ngModel"
               required
               #typeaheadNombreCliente>
        <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
        <div *ngIf="typeaheadNoResults === true" class="help-block">No se han encontrado resultados</div>
        <div *ngIf="(clienteCtaCteAsync.length < 3 && clienteCtaCteAsync.length > 0)" class="help-block">Ingrese 3 letras para comenzar la búsqueda</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="radio">
        <label><input type="radio" [(ngModel)]="fechaSeleccionadaCtaCte" name="fechaSeleccionadaCtaCte" [value]="false" >Todos los movimientos</label>
      </div>
      <div class="radio" [ngClass]="{'has-error': rangoFechaInvalido() && fechaSeleccionadaCtaCte}">
        <div class="col-sm-3" style="padding-left: 0; padding-right: 0; padding-top: 8px">
          <label>
            <input type="radio" [(ngModel)]="fechaSeleccionadaCtaCte" name="fechaSeleccionadaCtaCte" [value]="true">
            Solo el intervalo:
          </label>
        </div>

        <div [hidden]="!fechaSeleccionadaCtaCte" class="col-sm-8" style="padding-left: 0; padding-right: 0">
          <div  class="col-sm-5">
            <my-date-picker id="cta-cte-fecha-inicio" [(ngModel)]="fechaInicioCtaCte" name="fecha-inicio" [options]="myDatePickerOptions"></my-date-picker>
          </div>

          <div class="col-sm-5">
            <my-date-picker id="cta-cte-fecha-fin" [(ngModel)]="fechaFinCtaCte" name="fecha-fin" [options]="myDatePickerOptions"></my-date-picker>
          </div>
        </div>
        <div *ngIf="(rangoFechaInvalido() && fechaSeleccionadaCtaCte)" class="help-block col-sm-12">La fecha de inicio no puede ser posterior a la fecha de fin</div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default" (click)="filtrarCtaCte()">Filtrar</button>
    </div>
  </div>
  <table id="table" datatable [dtOptions]="dtOptions" class="row-border hover table" width="100%">
    <thead>
    <tr>
      <th class="text-center" width="15%">Fecha</th>
      <th class="text-center" width="18%">Comprobante</th>
      <th class="text-center" width="12%">Nro.</th>
      <th class="text-center" width="15%">Debe</th>
      <th class="text-center" width="15%">Haber</th>
      <th class="text-center" width="15%">Saldo</th>
      <th class="text-center" width="10%">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reg of registrosCtaCte">
      <td class="text-center" width="15%">{{reg.fecha}}</td>
      <td width="18%">{{reg.tipo_comprobante.nombre}}</td>
      <td class="text-center" width="12%">{{reg.ptoventaynumero}}</td>
      <td class="text-right" width="15%">{{reg.debe}}</td>
      <td class="text-right" width="15%">{{reg.haber}}</td>
      <td class="text-right" width="15%">{{reg.saldo}}</td>
      <td class="text-center" width="10%">
        <button title="Ver comprobante" (click)="mostrarModalVer(reg)" data-toggle="modal" data-target="#modalEditar" class="glyphicon glyphicon-eye-open blue"></button>
        <button title="Imprimir comprobante" (click)="imprimirPDF(reg)" class="glyphicon glyphicon-print blue"></button >
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th width="15%"></th>
      <th width="18%"></th>
      <th width="12%"></th>
      <th width="15%"></th>
      <th class="text-center" width="15%">Saldo Total</th>
      <th class="text-right" width="15%">{{saldo.toFixed(2)}}</th>
      <th width="10%"></th>
    </tr>
    </tfoot>
  </table>

</form>
<button (click)="imprimirReporteCtaCte()" data-dismiss="modal" class="btn btn-default pull-right">Imprimir</button>


<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="modalVer" #modalVer>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title">Comprobante</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="comprobante-tipo" class="col-sm-1 control-label">Tipo</label>
              <div class="col-sm-2">
                <input class="form-control" name="comprobante-tipo" id="comprobante-tipo" [ngModel]="comprobante.tipo_comprobante.nombre" readonly>
              </div>

              <label for="comprobante-punto-venta" class="col-sm-1 control-label">Pto. vta.</label>
              <div class="col-sm-2">
                <input class="form-control" name="comprobante-punto-venta" id="comprobante-punto-venta" [ngModel]="comprobante.punto_venta" readonly>
              </div>

              <label for="comprobante-numero" class="col-sm-1 control-label">Número</label>
              <div class="col-sm-2">
                <input class="form-control" name="comprobante-numero" id="comprobante-numero" [(ngModel)]="comprobante.numero" required placeholder="0" readonly>
              </div>

              <label for="comprobante-fecha" class="col-sm-1 control-label">Fecha</label>
              <div class="col-sm-2">
                <input class="form-control" name="comprobante-fecha" id="comprobante-fecha" [ngModel]="comprobante.fecha | date:'yyyy-MM-dd'" (ngModelChange)="comprobante.fecha = $event" readonly>
              </div>
            </div>
          </div>
          <!--TODO mostrar otra cosa si es nota de crédito o débito-->
          <div style="height: 240px;overflow-y: auto;" *ngIf="ctaCteClienteSeleccionada.comprobante_id">
            <table id="tablemodal" class="row-border hover table" >
              <thead>
              <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Cant.</th>
                <th class="text-center">Importe U.</th>
                <th class="text-center">% Desc.</th>
                <th class="text-center">Desc.</th>
                <th class="text-center">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of comprobante.items">
                <td class="text-left">{{item.codigo}}</td>
                <td class="text-left">{{item.nombre}}</td>
                <td class="text-center">{{item.cantidad}}</td>
                <td class="text-right">{{item.importe_unitario}}</td>
                <td class="text-right">{{item.porcentaje_descuento}}</td>
                <td class="text-right">{{item.importe_descuento}}</td>
                <td class="text-right">{{item.importe_total}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <ng-container *ngIf="ctaCteClienteSeleccionada.cobro_id">
            <h4>Valores</h4>
            <div style="height: 130px;overflow-y: auto;" >
              <table id="tablemodalcobro" class="row-border hover table" >
                <thead>
                <tr>
                  <th class="text-center">Valor</th>
                  <th class="text-center">Importe</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of comprobante.cobro_valores">
                  <td class="text-left">{{item.medio_pago.nombre}}</td>
                  <td class="text-right">{{item.importe}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <h4>Comprobantes</h4>
            <div style="height: 130px;overflow-y: auto;">
              <table id="tablemodalcobroitems" class="row-border hover table" >
                <thead>
                <tr>
                  <th class="text-center">Tipo</th>
                  <th class="text-center">Número</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Importe Pagado</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of comprobante.cobro_items">
                  <td class="text-left">{{item.anticipo? 'Anticipo' : item.comprobante.tipo_comprobante.nombre}}</td>
                  <td class="text-center">{{item.anticipo? '' : item.ptoventaynumero}}</td>
                  <td class="text-center">{{item.anticipo? '' : item.comprobante.fecha}}</td>
                  <td class="text-right">{{item.importe_total}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-container>

          <div class="form-group row" [hidden]="!regexTipoA.test(comprobante.tipo_comprobante.codigo)">
            <label for="comprobante-subtotal" class="col-sm-2  col-sm-offset-8 control-label">Subtotal</label>
            <div class="col-sm-2">
              <input class="form-control" type="number" name="comprobante-subtotal" id="comprobante-subtotal" [ngModel]="comprobante.importe_neto" readonly>
            </div>
          </div>
          <div class="form-group row" [hidden]="!regexTipoA.test(comprobante.tipo_comprobante.codigo)">
            <label for="comprobante-importe-iva" class="col-sm-2  col-sm-offset-8 control-label">IVA {{iva*100}}%</label>
            <div class="col-sm-2">
              <input class="form-control" type="number" name="comprobante-importe-iva" id="comprobante-importe-iva" [ngModel]="comprobante.importe_iva" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="comprobante-total" class="col-sm-2  col-sm-offset-8 control-label">Total</label>
            <div class="col-sm-2">
              <input class="form-control" type="number" name="comprobante-total" id="comprobante-total" [ngModel]="comprobante.importe_total" readonly>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrar()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="imprimirPDF(ctaCteClienteSeleccionada)" class="btn btn-primary">Imprimir</button >
        </div>
      </form>
    </div>
  </div>
</div>
