/*Para mostrar el ícono de feedback a la derecha de la flecha del select y que no se superponga*/
.form-control + .form-control-feedback {
  right: 12px;
}

.select-style {
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff url('data:image/gif;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==') no-repeat calc(100% - 30px) 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 100%;
  box-shadow: none;
  background: transparent none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;*/
  color: rgba(0, 0, 0, 0.6);
}

.input-group > .select-style {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
