<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarONuevo" #modalEditar>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="f.reset(); cerrar()" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h4>
      </div>
      <form class="form-horizontal" #f="ngForm">
        <div class="modal-body">
          <div class="form-group row">
            <label for="marca-codigo" class="col-sm-2 required control-label">Código</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !codigo.valid && (!codigo.pristine || codigo.touched || submitted),
            'has-success': codigo.valid}">
              <input class="form-control" id="marca-codigo" [(ngModel)]="element.codigo" name="codigo" #codigo="ngModel" required [maxLength]="20" app-asyncValidator [objeto]="element" [path]="'marcas'" placeholder="Código">
              <span *ngIf="codigo.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="codigo.errors !== null && (!codigo.pristine || codigo.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="codigo.errors !== null && codigo.errors.required && (!codigo.pristine || codigo.touched || submitted)" class="help-block">Ingrese un código</div>
              <div *ngIf="codigo.errors !== null && codigo.errors.asyncInvalid" class="help-block">Código repetido</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="marca-nombre" class="col-sm-2 required control-label">Nombre</label>
            <div class="col-sm-10 has-feedback"
                 [ngClass]="{'has-error': !nombre.valid && (!nombre.pristine || nombre.touched || submitted),
            'has-success': nombre.valid}">
              <input class="form-control" id="marca-nombre" [(ngModel)]="element.nombre" name="nombre" #nombre="ngModel" required [maxLength]="191" placeholder="Nombre">
              <span *ngIf="nombre.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
              <span *ngIf="nombre.errors !== null && (!nombre.pristine || nombre.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="f.reset(); cerrar()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button (click)="editarONuevo(f)" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
