<ng-template #tableHeader>
  <th class="text-center">Código</th>
  <th class="text-center">Nombre</th>
  <th class="text-center">CUIT</th>
  <th class="text-center">Tipo Responsable</th>
  <th style="width:10%" class="text-center">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td class="text-center">{{ element.codigo }}</td>
  <td class="text-center">{{ element.nombre }}</td>
  <td class="text-center">{{ element.cuit }}</td>
  <td class="text-center">{{ element.tipo_responsable_str }}</td>
</ng-template>

<app-abm
  [femenino]="false"
  [nombreElemento]="'Proveedor'"
  [pluralElemento]="'Proveedores'"
  [path]="'proveedores'"
  [elementClass]="proveedor"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"
  [beforeElementLoad]="cargarTiposResponsable"
  [onElementLoad]="asignarTiposResponsable"
  [onElementEdit]="asignarTipoResponsable"
  [onElementNew]="asignarTipoResponsable"></app-abm>

