<ng-template #tableHeader>
  <th>Nombre</th>
  <th style="width:10%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td>{{ element.nombre }}</td>
</ng-template>

<ng-template #modalBody let-elementSeleccionado="elementSeleccionado">
  <div class="form-group row">
    <label for="zona-nombre" class="col-sm-2 required control-label">Nombre</label>
    <div class="col-sm-10 has-feedback">
      <input class="form-control" id="zona-nombre" [(ngModel)]="elementSeleccionado.nombre" name="nombre" #nombre="ngModel" required [maxLength]="191" placeholder="Nombre">
      <span *ngIf="nombre.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
      <span *ngIf="nombre.errors !== null && (!nombre.pristine || nombre.touched || submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      <div *ngIf="!nombre.valid && (!nombre.pristine || nombre.touched || submitted)" class="help-block">Ingrese un nombre</div>
    </div>
  </div>
</ng-template>

<app-abm
  [femenino]="true"
  [articuloElemento]="'la'"
  [nombreElemento]="'zona'"
  [pluralElemento]="'zonas'"
  [path]="'zonas'"
  [elementClass]="zona"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalBody]="modalBody">
</app-abm>
