<ng-template #tableHeader>
  <th>Código</th>
  <th>Nombre</th>
  <th>Marca</th>
  <th>Subrubro</th>
  <th>Costo</th>
  <th style="width:10%">Acciones</th>
</ng-template>

<ng-template #tableBody let-element="element">
  <td>{{ element.codigo }}</td>
  <td>{{ element.nombre }}</td>
  <td>{{ element.marca_nombre }}</td>
  <td>{{ element.subrubro_nombre }}</td>
  <td>{{ element.costo }}</td>
</ng-template>

<app-abm
  [femenino]="false"
  [nombreElemento]="'Artículo'"
  [path]="'articulos'"
  [elementClass]="articulo"
  [tableHeader]="tableHeader"
  [tableBody]="tableBody"
  [modalComponent]="modal"
  [beforeElementLoad]="cargarMarcaSubrubro"
  [onElementLoad]="asignarNombreMarcasSubrubros"
  [onElementEdit]="asignarNombreMarcaSubrubro"
  [onElementNew]="asignarNombreMarcaSubrubro"></app-abm>
